tr.stdout td:first-child {
  /* Bootstrap's default is 8px */
  padding-left: 11px;
}

tr.stderr td:first-child {
  border-left: 3px solid #f00;
}

th.id,
td.id {
  width: 100px;
}

th.message,
td.message {
  /* I have no idea why this works :( */
  max-width: 1px;
}

th.timestamp,
td.timestamp {
  width: 160px;
}

td.message {
  font-family: monospace;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
}

tr.expanded td {
  background-color: #def;
}

tr.expanded td.message {
  /*
   * How do I wrap text in a pre tag?
   * http://stackoverflow.com/questions/248011
   */
  white-space: pre-wrap;      /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* Internet Explorer 5.5+ */
}
